name: Release to NPM
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version to release, e.g. "v0.1.2"
        required: false
  push:
    tags:
      - 'v*.*.*'

jobs:
  npm-publish:
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    strategy:
      matrix:
        language: [ js, ts ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          registry-url: 'https://registry.npmjs.org'
      - name: Set version env
        id: set_version
        ## if version is not provided as input, use the tag name
        run: |
          echo "tag=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          if [ -z "${{ github.event.inputs.version }}" ]; then
              echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi
      - name: Update version of npm package
        working-directory: ./${{ matrix.language }}
        env:
          RELEASE_VERSION: ${{ steps.set_version.outputs.tag }}
        run: |
          npm version $RELEASE_VERSION
      - name: publish the npm package
        working-directory: ./${{ matrix.language }}
        run:
          # https://github.com/actions/setup-node/issues/1440#issuecomment-3571890875
          NODE_AUTH_TOKEN="" npm publish
